@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@{
    Layout = "~/Views/Home/_LayoutLogin.cshtml";
}
<style>
    /* Dans votre _LayoutLogin.cshtml ou dans une balise style */
    .main-container {
        padding-left: 0;
        margin-left: 0;
    }

    .password-form-container {
      
        /* ou */
        margin-left: -820px;
      
    }
</style>
<h3 style="color:white"> < Paramètres</h3>
<hr />
<partial name="_StatusMessage" for="StatusMessage" />

<div class="password-form-container">
        <form id="change-password-form" method="post">
            <h5 style="color:white;font-weight:400">   Modifier le mot de passe</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mot de passe actuel " />
               
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nouveau Mot de passe" />
               
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Nouveau Mot de passe" />
               
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary"style="margin-top:110px"> Enregistrer les modifications</button>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
