<div class="search-bar" style="height:35px">
    <i class="fa-solid fa-search"></i>
    <input type="text" placeholder="Rechercher" aria-label="Rechercher">
</div>
<br />
<div>
    <div>
        <div class="document-title">
            <span>Documents partagés</span>
            <div class="blue-line"></div>
        </div>
    </div>
    <div class="document-table-header">
        <div class="document-name-header">
            <i data-feather="file" class="w-98 h-8 text-wihte-500"></i>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Nom</span>
        </div>
        <div class="document-date">Date de création</div>
    </div>
    <div class="blue-line2"></div>
    <br />
    <div>
        Les fichiers partagés avec vous apparaîtront ici. Vous pouvez voir qui a partagé chaque fichier et quand il a été partagé.
    </div>
    <br />
    <div><strong>Aucun document partagé</strong></div>
</div>