@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Home/_LayoutLogin.cshtml";
}

<div class="container" style="margin-bottom:100px;margin:124px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body text-center">
                    @if (Model.StatusMessage.Contains("succès"))
                    {
                        <div class="alert alert-success">
                            <i class="fas fa-check-circle fa-3x mb-3"></i>
                            <p class="h4">@Model.StatusMessage</p>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation-circle fa-3x mb-3"></i>
                            <p class="h4">@Model.StatusMessage</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>