@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@{
    Layout = "~/Views/Home/_LayoutLogin.cshtml";
}
<h1 style="color:white">@ViewData["Title"]</h1>
<h2 style="color:white">Enter your email</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-group" style="top:-150px;margin-left:444px;margin-bottom:1px">
                <div class="input-icon">
                    <i class="fas fa-user icon-inside"></i>
                </div>
                <input asp-for="Input.Email" type="email" class="form-input" autocomplete="username" aria-required="true" placeholder="name@example.com" style="width:800px"/>
               
                <span asp-validation-for="Input.Email" class="text-danger"></span>
               
            </div>
            <button type="submit" class="w-100 btn-lg btn-primary" style="margin-bottom:140px;margin-left:444px">Reset Password</button>

           
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function setCulture(culture) {
            document.getElementById('selectedCulture').value = culture;
        }

        document.addEventListener("DOMContentLoaded", function () {
            // Initialisation de Feather Icons
            if (feather) {
                feather.replace();
            }

            // Initialisation de Lucide Icons
            if (lucide) {
                lucide.createIcons();
            }
        });

        
        
    </script>
}