@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="input-group" style="top:-10px;margin-left:544px">
	<h1>@ViewData["Title"]</h1>
</div>
<div class="input-group" style="top:-10px;margin-left:544px">
	@{
		<p>
			Please check your email to confirm your account.
		</p>
	}

</div>


